.wrapper {
    width: 100%;
    height: 100%;
}

/* start of navbar */
.navbar {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #444444;
    color: #fff
}

.box {
    flex: 1 1;
}

.logo,
.topic {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background: #383838;
}

.list {
    flex: 3 1;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.topic {
    flex: 1 1 ;
}

.topic h3 {
    padding: 10px 30px;
    border: 1px solid #fff;
}

/* end of navbar */

/* start of main */
.main-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.note {
    background: white;
    position: absolute;
    width: 200px;
    top: 215px;
    left: 42vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.note h2 {
    font-size: 2em;
}

.really {
    background: white;
    position: absolute;
    width: 200px;
    top: 225px;
    right: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.size {
    width: 50%;
    min-height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    color: #fff;
}

.num1 {
    background: #6b6b6b;
}

.num2 {
    /* background: #7b7b7b; */
    background: #6b6b6bed;
}

.num3 {
    background: #5f5f5f;
}

.num4 {
    /* background: #696969; */
    background: #5f5f5fed;
}

.three-column {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 33.333%;
    height: 400px;
    background: #b9b6b6bd;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-article {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.redimage {
    width: 75%;
    height: 400px;
    background: darkgrey;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-article {
    width: 25%;
    height: 200px;
    background: darkgray;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advert-image {
    width: calc(100% - 60px);
    height: 400px;
    margin: 20px 30px;
    background: darkgrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}